<div class="pageForm">
    <h2>Remove Treatment</h2>
    <form asp-controller="TreatmentMasterList" asp-action="RemoveTreatment" method="post">
        @foreach (var patientTreatment in ViewBag.treatmentMasterList)
        {<div class="form-group row">
                <div>
                    <input type="checkbox" name="patientTreatmentListMasterIds" id="@patientTreatment.ID" value="@patientTreatment.ID" /><!--PatientId from(Model)-->
                    <label for="@patientTreatment.ID">@patientTreatment.LastName, @patientTreatment.FirstName (MRN:@patientTreatment.MedicalRecord)</label>
                </div>
            </div>
        }
        <div>
            <input style="background-color:yellow; color:midnightblue; border-radius:50%" type="submit" class="form-control" value="Remove">
        </div>
    </form>
</div>