!-- ************ CSS ******************-->
<style>

    .nav-bar2 {
        /* margin-top: -70px;*/
        margin-left: 1055px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 25px;
        font-size: large;
    }

    .navbar-brand {
        color: yellow;
        margin-top: 10px;
        font-size: 18px;
    }

    h2 {
        border: yellow solid 2px;
        text-align: center;
        padding: 20px 5px;
        margin-top: 50px;
        margin-bottom: 0px;
        background-color: navy;
        color: yellow;
    }

    table {
        border: solid 2px yellow;
        align-content: center;
        background: rgba(37, 37, 141, .6);
    }

    th {
        color: yellow;
        border: solid 2px yellow;
        background-color: darkmagenta;
        text-align: center;
    }

    tr {
        border: solid 2px darkslategray;
        text-align: center;
        background: rgba(40, 37, 141, .6);
        color: snow;
    }

    td {
        color: white;
        text-align: center;
        border: solid 2px yellow;
    }

    hr {
        border: none;
        height: 3px;
        background-color: midnightblue;
        margin-top: 190px;
    }

    a {
        color: yellow;
    }

        a:hover {
            color: blue;
        }
</style>

<!--*************HTML***************-->

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:midnightblue">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color:yellow" asp-area="" asp-controller="LogIn" asp-action="Index" class="navbar-brand">Dialysis Patient Tracker</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="margin-left:150px">
                <li><a style="color:snow" asp-area="" asp-controller="PatientMasterList" asp-action="Index"><spand class="spandnavremove"> Patient</spand><br /> MasterList</a></li>
                <li><a style="color:snow" asp-area="" asp-controller="PatientDemographics" asp-action="Index"><spand class="spandnavremove"> Patient</spand><br /> Demographics</a></li>
                <li><a style="color:snow" asp-area="" asp-controller="TreatmentMasterList" asp-action="Index"><spand> Treatment</spand><br /> Master List</a></li>
                <li><a style="color:snow" asp-area="" asp-controller="Physician" asp-action="Index"><spand> Physician</spand><br /> Master List</a></li>
                <li><a style="color:snow" asp-area="" asp-controller="CompleteList" asp-action="AddPatient"> <spand class="spandnavadd">Add</spand><br />Patient</a></li>
            </ul>

            <div class="nav-bar2">
                <ul class="navbar-collapse collapse">
                    @*<li><a style="color:yellow" asp-area="" asp-controller="SignUp" asp-action="Index">Sign Up</a></li>*@
                    <li><a style="color:yellow" asp-area="" asp-controller="LogOut" asp-action="Index">Log Out</a></li>
                    @*<li><a style="color:yellow" asp-area="" asp-controller="LogIn" asp-action="Index">Login</a></li>*@
                </ul>
            </div>
        </div>
    </div>
</nav>

@model List<DialysisPatientTracker.Models.Physician>

@{
    ViewData["Title"] = "Index";
}

<h2>Physician Master List</h2>

<table class="table">
    <thead>
        <tr>
            <th>LastName</th>
            <th>FirstName</th>
            <th>CellPhone</th>
            <th>OfficePhone</th>
            <th>Details</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var physician in Model)
        {
            <tr>
                <td>@physician.LastName</td>
                <td>@physician.FirstName</td>
                <td>@physician.CellPhone</td>
                <td>@physician.OfficePhone</td>
                <td>
                    <a asp-controller="PatientMasterList" asp-action="Index" asp-route-id="@physician.PhysicianID">Patients Master List</a>
                    @*<a asp-controller="CompleteList" asp-action="Delete" asp-route-id="@physician.PhysicianID">Treatment </a>
                        </td>*@

                <td>
                    <a asp-controller="CompleteList" asp-action="Edit" asp-route-id="@physician.PhysicianID">Edit</a>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="AddPhysician">Add Physician</a>
</p>