!-- ************ CSS ******************-->
<style>

    .nav-bar2 {
        /* margin-top: -70px;*/
        margin-left: 1055px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 25px;
        font-size: large;
    }

    .navbar-brand {
        color: yellow;
        margin-top: 10px;
        font-size: 18px;
    }

    h2 {
        border: yellow solid 2px;
        text-align: center;
        padding: 20px 5px;
        margin-top: 50px;
        margin-bottom: 0px;
        background-color: navy;
        color: yellow;
    }

    table {
        border: solid 2px yellow;
        align-content: center;
        background: rgba(37, 37, 141, .6);
    }

    th {
        color: yellow;
        border: solid 2px yellow;
        background-color: darkmagenta;
        text-align: center;
    }

    tr {
        border: solid 2px darkslategray;
        text-align: center;
        background: rgba(40, 37, 141, .6);
        color: snow;
    }

    td {
        color: white;
        text-align: center;
        border: solid 2px yellow;
    }

    hr {
        border: none;
        height: 3px;
        background-color: midnightblue;
        margin-top: 190px;
    }

    a {
        color: yellow;
    }

        a:hover {
            color: blue;
        }
</style>

@model List<DialysisPatientTracker.Models.Physician>

@{
    ViewData["Title"] = "Index";
}

<h2>Physician Master List</h2>

<table class="table">
    <thead>
        <tr>
            <th>LastName</th>
            <th>FirstName</th>
            <th>CellPhone</th>
            <th>OfficePhone</th>
            <th>Details</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var physician in Model)
        {
            <tr>
                <td>@physician.LastName</td>
                <td>@physician.FirstName</td>
                <td>@physician.CellPhone</td>
                <td>@physician.OfficePhone</td>
                <td>
                    <a asp-controller="PatientMasterList" asp-action="Index">Patient List</a>
                    @*<a asp-controller="CompleteList" asp-action="Delete" asp-route-id="@physician.PhysicianID">Treatment </a>
                        </td>*@

                <td>
                    <a asp-action="Edit" asp-route-id="@physician.PhysicianID">Edit</a>|
                    <a asp-action="AddPhysician" asp-route-id="@physician.PhysicianID">Add </a>|
                    <a asp-action="Delete" asp-route-id="@physician.PhysicianID">Delete </a>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-controller="PatientMasterList" asp-action="Index">Back to Patient List</a>
</p>