<!-- ************ CSS ******************-->
<style>
    #nav-bar2 {
        margin-left: 1050px;
        margin-right: 10px;
    }

    .navbar-brand {
        color: yellow;
        margin-top: 10px;
        font-size: 18px;
    }

    h1 {
        border: yellow solid 2px;
        text-align: center;
        padding: 20px 5px;
        margin-top: 60px;
        margin-bottom: -20px;
        background-color: navy;
        color: yellow;
    }

    table {
        border: solid 2px yellow;
        align-content: center;
        background: rgba(37, 37, 141, .7);
    }

    th {
        color: yellow;
        border: solid 2px yellow;
        background-color: darkmagenta;
        text-align: center;
    }

    tr {
        border: solid 2px darkslategray;
        text-align: center;
        background: rgba(40, 37, 141, .8);
        color: snow;
    }

    td {
        color: white;
        text-align: center;
        border: solid 2px yellow;
    }

    hr {
        border: none;
        height: 3px;
        background-color: midnightblue;
        margin-top: 200px;
    }

    a {
        color: white;
    }

        a:hover {
            color: yellow;
        }

    .spandnavadd {
        margin-left: 30px;
    }

    .spandnavremove {
        margin-left: 15px;
    }
</style>
<!--****** HTML ****************-->

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:midnightblue">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color:yellow" asp-area="" asp-controller="LogIn" asp-action="Index" class="navbar-brand">Dialysis Patient Tracker</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="margin-left:100px">
                <li><a style="color:snow" asp-area="" asp-controller="SearchOptions" asp-action="Index"><spand class="spandnavremove"> Patient</spand><br /> Search Options</a></li>
                <li><a style="color:snow" asp-area="" asp-controller="PatientMasterList" asp-action="Index"><spand class="spandnavremove"> Patient</spand><br /> Master List</a></li>
                <li><a style="color:snow" asp-area="" asp-controller="TreatmentMasterList" asp-action="Index"><spand> Treatment</spand><br /> Master List</a></li>
                <li><a style="color:snow" asp-area="" asp-controller="PatientDemographics" asp-action="AddDemographics"> <spand class="spandnavadd">Add</spand><br />Demographics</a></li>
                <li><a style="color:snow" asp-area="" asp-controller="PatientDemographics" asp-action="RemoveDemographics"><spand class="spandnavremove"> Remove</spand><br /> Demographics</a></li>
            </ul>
            <div class="nav-bar2">
                <ul id="nav-bar2" , class="navbar-collapse collapse">
                    <li><a style="color:yellow" asp-area="" asp-controller="LogIn" asp-action="Index">Login</a></li>
                    <li><a style="color:yellow" asp-area="" asp-controller="SignUp" asp-action="Index">Sign Up</a></li>
                    <li><a style="color:yellow" asp-area="" asp-controller="LogOut" asp-action="Index">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!--************  End Of NavBar********************-->

@model List<DialysisPatientTracker.Models.PatientDemographics>

<h1>Patient DemoGraphics</h1>

<table class="table">
    <thead>
        <tr>
            <th>Medical<br />Record#</th>
            <th>Last name</th>
            <th>First Name</th>
            <th>DOB</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>E_Mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td><a asp-controller="PatientDemographics" asp-action="IndivPatient">@patient.MedicalRecord</a></td>
                <td><a asp-controller="PatientDemographics" asp-action="IndivPatient">@patient.LastName</a></td>
                <td>@patient.FirstName</td>
                <td>@patient.DOB</td>
                <td>@patient.Age</td>
                <td>@patient.Gender</td>
                <td>@patient.Address</td>
                <td>@patient.PhoneNumber</td>
                <td>@patient.Email</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Count == 0)
{
    <p style="color:yellow">There are no patients in the list yet</p>
};