<div class="pageForm">
    <h2>Remove Demographic</h2>
    <form asp-controller="PatientDemographics" asp-action="RemoveDemographics" method="post">
        @foreach (var patientDemographic in ViewBag.patientDemographics)
        {<div class="form-group row">
                <div>
                    <input type="checkbox" name="demographicIds" id="@patientDemographic.ID" value="@patientDemographic.ID" /><!--PatientId from(Model)-->
                    <label for="@patientDemographic.ID"> @patientDemographic.LastName, @patientDemographic.FirstName (MRN:@patientDemographic.MedicalRecord)</label>
                    <br />
                </div>
            </div>
        }
        <div>
            <input style="background-color:yellow; color:midnightblue; border-radius:50%" type="submit" class="form-control" value="Remove">
        </div>
    </form>
</div>