<div class="pageForm">
    <h2>@ViewBag.title</h2>
    <form asp-controller="PatientMasterList" asp-action="RemovePatient" method="post">
        @foreach (var patient in ViewBag.patientMasterList)
        {<div class="form-group row">
                <div>
                    <input type="checkbox" name="patientIds" id="@patient.ID" value="@patient.ID" /><!--ID from(Model)-->
                    <label for="@patient.ID">@patient.LastName, @patient.FirstName (MRN:@patient.MedicalRecord)</label>
                </div>
            </div>
        }
        <div>
            <input style="background-color:yellow; color:midnightblue; border-radius:50%" type="submit" class="form-control" value="Remove Patient">
        </div>
    </form>
</div>