<!-- ************ CSS ******************-->
<style>

    .nav-bar2 {
        /* margin-top: -70px;*/
        margin-left: 1055px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 25px;
        font-size: large;
    }

    .navbar-brand {
        color: yellow;
        margin-top: 10px;
        font-size: 18px;
    }

    h2 {
        border: yellow solid 2px;
        text-align: center;
        padding: 20px 5px;
        margin-top: 50px;
        margin-bottom: 0px;
        background-color: navy;
        color: yellow;
    }

    table {
        border: solid 2px yellow;
        align-content: center;
        background: rgba(37, 37, 141, .6);
    }

    th {
        color: yellow;
        border: solid 2px yellow;
        background-color: darkmagenta;
        text-align: center;
    }

    tr {
        border: solid 2px darkslategray;
        text-align: center;
        background: rgba(40, 37, 141, .6);
        color: snow;
    }

    td {
        color: white;
        text-align: center;
        border: solid 2px yellow;
    }

    hr {
        border: none;
        height: 3px;
        background-color: midnightblue;
        margin-top: 190px;
    }

    p {
        color: yellow;
    }

    a {
        color: yellow;
    }

        a:hover {
            color: blue;
        }
</style>

@model List<DialysisPatientTracker.Models.CompleteList>

<div class="pageForm">
    <h2>@ViewBag.title</h2>
    <form asp-controller="CompleteList" asp-action="RemovePatient" method="post">
        @foreach (var patient in ViewBag.completeList)
        {<div class="form-group row">
                <div>
                    <input type="checkbox" name="patientIds" id="@patient.CompleteListID" value="@patient.CompleteListID" /><!--ID from(Model)-->
                    <label for="@patient.CompleteListID">@patient.LastName, @patient.FirstName (MRN:@patient.MedicalRecord)</label>
                </div>
            </div>
        }

        <div class="form-group">
            <input type="submit" value="Remove Patient" class="btn btn-default" />
        </div>
    </form>

    @if (@ViewBag.complestList == null)
    {
        <p> There are no patients on list Yet.</p>
    }
</div>