<!-- ************ CSS ******************-->
<style>
    #nav-bar2 {
        margin-left: 1050px;
        margin-right: 10px;

    }

    .navbar-brand {
        color: yellow;
        margin-top: 10px;
        font-size: 18px;
    }

    h1 {
        border: yellow solid 2px;
        text-align: center;
        padding: 20px 5px;
        margin-top: 60px;
        margin-bottom: 0px;
        background-color: navy;
        color: yellow;
    }

    table {
        border: solid 2px yellow;
        align-content: center;
        background: rgba(37, 37, 141, .7);
    }

    th {
        color: yellow;
        border: solid 2px yellow;
        background-color: darkmagenta;
        text-align: center;
    }

    tr {
        border: solid 2px darkslategray;
        text-align: center;
        background: rgba(40, 37, 141, .8);
        color: snow;
    }

    td {
        color: white;
        text-align: center;
        border: solid 2px yellow;
        background: rgba(40, 37, 141, .8);
    }

    hr {
        border: none;
        height: 3px;
        background-color: midnightblue;
        margin-top: 200px;
    }

    a {
        color: white;
    }

        a:hover {
            color: yellow;
        }

    .spandnavadd {
        margin-left: 30px;
    }

    .spandnavremove {
        margin-left: 15px;
    }
</style>
<!--****** HTML ****************-->

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:midnightblue">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color:yellow" asp-area="" asp-controller="LogIn" asp-action="Index" class="navbar-brand">Dialysis Patient Tracker</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="margin-left:90px">
                <li><a style="color:snow" asp-area="" asp-controller="SearchOptions" asp-action="Index"><spand class="spandnavremove"> Patient</spand><br /> Search Options</a></li>
                <li><a style="color:snow" asp-area="" asp-controller="PatientMasterList" asp-action="Index"><spand class="spandnavremove"> Patient</spand><br /> Master List</a></li>
                <li><a style="color:snow" asp-area="" asp-controller="PatientDemographics" asp-action="Index"><spand class="spandnavremove"> Patient</spand><br /> Demographics</a></li>
                <li><a style="color:snow" asp-area="" asp-controller="TreatmentMasterList" asp-action="AddTreatment"> <spand class="spandnavadd">Add</spand><br />TreatmentOrders</a></li>
                <li><a style="color:snow" asp-area="" asp-controller="TreatmentMasterList" asp-action="RemoveTreatment"><spand class="spandnavremove"> Remove</spand><br /> TreatmentOrders</a></li>
            </ul>
            <div class="nav-bar2">
                <ul id="nav-bar2" , class="navbar-collapse collapse">
                    <li><a style="color:yellow" asp-area="" asp-controller="LogIn" asp-action="Index">Login</a></li>
                    <li><a style="color:yellow" asp-area="" asp-controller="SignUp" asp-action="Index">Sign Up</a></li>
                    <li><a style="color:yellow" asp-area="" asp-controller="LogOut" asp-action="Index">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<h1>Treatment Master List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Medical <br />Record #</th>
            <th>Last <br />Name</th>
            <th>First<br /> Name</th>
            <th>Physician</th>
            <th>Treatment<br />Days</th>
            <th>Treatment <br />Time(Hrs)</th>
            <th>Access <br />Type</th>
            <th>K+ <br />Bath</th>
            <th>CA+ <br />Bath</th>
            <th>NA+<br />Bathl</th>
            <th>Bi-Carb<br />Bath (mmol)</th>
            <th>Temp <br />(C)</th>
            <th>Dialyzer <br />Size</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var treatmentMasterList in ViewBag.treatmentMasterLists)
        {
            <tr>
                <td>@treatmentMasterList.MedicalRecord</td>
                <td>@treatmentMasterList.LastName</td>
                <td>@treatmentMasterList.FirstName</td>
                <td>@treatmentMasterList.Physician</td>
                <td>@treatmentMasterList.TreatmentDays</td>
                <td>@treatmentMasterList.TreatmentTime</td>
                <td>@treatmentMasterList.AccessType</td>
                <td>@treatmentMasterList.KBath</td>
                <td>@treatmentMasterList.CaBath</td>
                <td>@treatmentMasterList.NaBath</td>
                <td>@treatmentMasterList.BiCarb</td>
                <td>@treatmentMasterList.Temp</td>
                <td>@treatmentMasterList.DialyzerSize</td>
                <td>@treatmentMasterList.Comments</td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.treatmentMasterLists.Count == 0)
{
    <p style="color:yellow">There ae no patients in the list yet</p>
};