!-- ************ CSS ******************-->
<style>

    .nav-bar2 {
        /* margin-top: -70px;*/
        margin-left: 1055px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 25px;
        font-size: large;
    }

    .navbar-brand {
        color: yellow;
        margin-top: 10px;
        font-size: 18px;
    }

    h2 {
        border: yellow solid 2px;
        text-align: center;
        padding: 20px 5px;
        margin-top: 50px;
        margin-bottom: 0px;
        background-color: navy;
        color: yellow;
    }

    .table-responsive {
        border: solid 2px yellow;
        align-content: center;
        background: rgba(37, 37, 141, .6);
        padding: 5px;
    }

    th {
        color: yellow;
        border: solid 2px yellow;
        background-color: darkmagenta;
        text-align: center;
        padding: 5px;
    }

    tr {
        border: solid 2px darkslategray;
        text-align: center;
        background: rgba(40, 37, 141, .6);
        color: snow;
        padding: 5px;
    }

    td {
        color: white;
        text-align: center;
        border: solid 2px yellow;
        padding: 5px;
    }

    hr {
        border: none;
        height: 3px;
        background-color: midnightblue;
        margin-top: 190px;
    }

    a {
        color: yellow;
    }

        a:hover {
            color: blue;
        }
</style>

<!--*************HTML***************-->

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:midnightblue">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color:yellow" asp-area="" asp-controller="LogIn" asp-action="Index" class="navbar-brand">Dialysis Patient Tracker</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="margin-left:60px; margin-right:70px">
                <li><a style="color:yellow" asp-area="" asp-controller="SearchOptions" asp-action="Index"> <spand class="spandnavadd">Search</spand><br />Options</a></li>
                <li><a style="color:yellow" asp-area="" asp-controller="PatientMasterList" asp-action="Index"><spand class="spandnavremove"> Patient</spand><br /> MasterList</a></li>
                <li><a style="color:yellow" asp-area="" asp-controller="PatientDemographics" asp-action="Index"><spand class="spandnavremove"> Patient</spand><br /> Demographics</a></li>
                <li><a style="color:yellow" asp-area="" asp-controller="TreatmentMasterList" asp-action="Index"><spand> Treatment</spand><br /> Master List</a></li>
                <li><a style="color:yellow" asp-area="" asp-controller="Physician" asp-action="Index"><spand> Physician</spand><br /> Master List</a></li>
                <li><a style="color:yellow" asp-area="" asp-controller="CompleteList" asp-action="AddPatient"><spand> Add</spand><br /> Patient</a></li>
                <li><a style="color:yellow" asp-area="" asp-controller="CompleteList" asp-action="RemovePatient"><spand> Remove</spand><br /> Patient</a></li>
            </ul>

            <div class="nav-bar2">
                <ul class="navbar-collapse collapse">
                    @*<li><a style="color:yellow" asp-area="" asp-controller="SignUp" asp-action="Index">Sign Up</a></li>*@
                    <li><a style="color:yellow" asp-area="" asp-controller="LogOut" asp-action="Index">Log Out</a></li>
                    @*<li><a style="color:yellow" asp-area="" asp-controller="LogIn" asp-action="Index">Login</a></li>*@
                </ul>
            </div>
        </div>
    </div>
</nav>

@model List<DialysisPatientTracker.Models.CompleteList>;

<h2 class="col-lg-12">Treatment Master List</h2>

<table class="table-responsive">
    <thead>
        <tr>
            <th>Medical <br />Record #</th>
            <th>Last <br />Name</th>
            <th>First<br /> Name</th>
            <th>Physician<br /> (Click Name For Contact Info)</th>
            <th>Treatment<br />Days</th>
            <th>Treatment <br />Time(Hrs)</th>
            <th>Access <br />Type</th>
            <th>K+ <br />Bath (mmol)</th>
            <th>CA+ <br />Bath (mmol)</th>
            <th>NA+<br />Bath (mmol)</th>
            <th>Bi-Carb<br />Bath (mmol)</th>
            <th>Temp <br />(C)</th>
            <th>Dialyzer <br />Size</th>
            <th>Comments</th>
            <th>Review<br /> Patient: </th>
            <th>Edit/Add</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var treatment in Model)
        {
            <tr>
                <td>@treatment.MedicalRecord</td>
                <td>@treatment.LastName</td>
                <td>@treatment.FirstName</td>
                <td> <a asp-controller="Physician" asp-action="Index">@treatment.Physician</a></td>
                <td>@treatment.TreatmentDays</td>
                <td>@treatment.TreatmentTime</td>
                <td>@treatment.AccessType</td>
                <td>@treatment.KBath</td>
                <td>@treatment.CaBath</td>
                <td>@treatment.NaBath</td>
                <td>@treatment.BiCarb</td>
                <td>@treatment.Temp</td>
                <td>@treatment.DialyzerSize</td>
                <td>@treatment.Comments</td>
                <td>
                    <a asp-controller="CompleteList" asp-action="Demographic" asp-route-id="@treatment.CompleteListID">Demographic</a>

                <td>
                    <a asp-controller="CompleteList" asp-action="EditIndvTreatment" asp-route-id="@treatment.CompleteListID">Edit</a>|
                    <a asp-controller="CompleteList" asp-action="EditIndvTreatment" asp-route-id="@treatment.CompleteListID">Add Treatment  Orders</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Count == 0)
{
    <p style="color:yellow">There are no patients in the list yet</p>

};